## mako
<%namespace name='static' file='static_content.html'/>
<%namespace file='main.html' import="login_query, stanford_theme_enabled"/>
<%!
    from django.core.urlresolvers import reverse
    from django.utils.translation import ugettext as _

    from microsite_configuration import microsite
    from microsite_configuration.templatetags.microsite import platform_name
    from ccx.overrides import get_current_ccx

    # App that handles subdomain specific branding
    import branding
    # app that handles site status messages
    from status.status import get_site_status_msg
%>
<!--页头布局-->
<div class="col_head_bg max-width">
    <div class="col_head">
        <h1><a href="/"><img src="/static/images/nercel-images/col_logo.png" alt="logo" title="师大学堂"/></a></h1>
        <div class="col_nav" id="col_nav" style="position: relative;top: -15px;width: 628px;margin-left: 0;">
            <ul>
                <li><a href="/" id="col_shouye">首页</a></li>
                <li><a href="/go_to_school" id="col_xuexiao">学校</a></li>
                <li><a href="javascript:void(0);" id="col_weike">微课程</a></li>
                <li><a href="http://122.204.161.231/mainView/navigate/newLogin.jsp" id="col_fenxi">学习分析</a></li>
            </ul>
        </div>

            % if user.is_authenticated():
                <div class="col_mycourse_login">
                <div class="col_mycourse_user">
                    <a href="${reverse('dashboard')}" class="showName">${user.username}</a>
                    <div id="col_mycourse_sanjiao"></div>
                    <div id="col_drop_down" style="height: 148px;top: 48px;">
                        <ul>
                            <li><a href="${reverse('learner_profile', kwargs={'username': user.username})}">我的课程</a>
                            </li>
                            <li><a href="${reverse('account_settings')}">账户设置</a></li>
                            <li><a href="${reverse('logout')}">退出</a></li>
                        </ul>
                    </div>
                </div>
                </div>
            % else:
                <div class="col_login">
                    <!--登录前-->
                    <ul class="pre_login" style="margin: 0;padding: 0;">
                        <li><a href="javascript:;" id="login">登录</a></li>
                        <li><a href="/register">注册</a></li>
                    </ul>
                </div>
            % endif
    </div>
</div>
<!--loginbox-->
<div class="theme-popover-mask"></div>
<div class="loginbox_bg">
    <div class="col_loginbox" id="loginbox">
        <div class="col_login_mainbody">
            <div class="col_login_head"></div>
            <form role="form" id="login-form" method="post" data-remote="true" novalidate class="login">
                <input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }">
                <div class="username">
                    <input id="email" type="email" name="email" placeholder="登录邮箱">
                </div>
                <div class="password">
                    <input id="password" type="password" name="password" placeholder="密码">
                </div>
                <div class="others">
                    <input class="remember_btn" id="remember-yes" type="checkbox" name="remember" checked="checked">
                    <label for="remember-yes">记住我</label>
                    <a class="fr" href="/register" class="g_modal_regbtn" data-click="onClick">现在注册</a>
                    <a class="fr" href="javascript:;" target="_blank" data-click="onClick">忘记密码？</a>
                </div>
                <button class="button" name="submit" type="button" id="submit" onclick="submitForm(event);">登录</button>
            </form>
            <div class="close_btn" id="login_close"></div>
        </div>
    </div>
</div>
<script>
    //下拉菜单的显示
    $(function () {
        $("#col_mycourse_sanjiao").click(
                function (event) {
                    stopEvent(event);
                    $("#col_drop_down").show();
                });
        $(document).click(function (event) {
            stopEvent(event);
            $("#col_drop_down").hide();
        });
    })

    //下拉菜单的阴影
    $(function () {
        $("#col_drop_down li").hover(
                function () {
                    $(this).addClass("col_top_shadow");
                },
                function () {
                    $(this).removeClass("col_top_shadow");
                });
    })
    function stopEvent(ev) { //阻止冒泡事件
        //取消事件冒泡
        var e = arguments.callee.caller.arguments[0] || event; //若省略此句，下面的e改为event，IE运行可以，但是其他浏览器就不兼容
        if (e && e.stopPropagation) {
            // this code is for Mozilla and Opera
            e.stopPropagation();
        } else if (window.event) {
            // this code is for IE
            window.event.cancelBubble = true;
        }
    }
</script>
<script>
    var grayEle = "";
    //	页面记载完成之后执行
    $(function () {
        $("#col_nav a").hover(
                function () {
                    $(this).addClass("selfColor");
                },
                function () {
                    $(this).removeClass("selfColor");
                });
    })
    // 弹出登录框，使整个页面灰掉
    $("#login").click(function () {
        $('.theme-popover-mask').show();
        $('.theme-popover-mask').height($(document).height());
        $(".loginbox_bg").slideDown(500);
    });
    //关闭登录框
    $("#login_close").click(function () {
        $('.theme-popover-mask').hide();
        $(".loginbox_bg").slideUp(500);
    });
    function toggleSubmitButton(enable) {
        //获取id为submit的提交按钮
        var $submitButton = $('form #submit');

        if (enable) {
            $submitButton.
                    removeClass('is-disabled').
                    attr('aria-disabled', false).
                    removeProp('disabled').
                    html("登录");
        }
        else {
            $submitButton.
                    addClass('is-disabled').
                    prop('disabled', true).
                    text("正在登录");
        }
    }
    function submitForm(event) {
        event.preventDefault();
        toggleSubmitButton(false);
        $.ajax({
            url: "/login_ajax",
            data: $("#login-form").serialize(),
            type: "POST",
            error: function (data) {
                alert(data.value);
                alert(data);
            },
            success: function (data, textStatus) {
                var tf=data.success;
                var msg=data.value;
                if(tf){
                    location.href = "${reverse('dashboard')}";
                }else{
                    toggleSubmitButton(true);
                    alert(msg);
                }
            }
        });
    }
</script>
