<%namespace name='static' file='../static_content.html'/>
<%!
    from microsite_configuration import microsite
    from django.utils.translation import ugettext as _
    from django.core.urlresolvers import reverse
    from courseware.courses import course_image_url, get_course_about_section
    from django.conf import settings
    from edxmako.shortcuts import marketing_link
%>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>${get_course_about_section(course, "title")}</title>
    <link href="/static/css/nercel-css/col_head.css" rel="stylesheet"/>
    <link href="/static/css/nercel-css/col_copyright.css" rel="stylesheet"/>
    <link href="/static/css/nercel-css/col_register_course.css" rel="stylesheet"/>
    <script src="/static/js/nercel-js/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script>
        $(function(){
            $("#join_course").click(function(event) {
                $.ajax({
                    type:"POST",
                    url:"${reverse('change_enrollment')}",
                    data:$("#class_enroll_form").serialize(),
                    complete:function(event, xhr){
                        alert("处理完成");
                        alert(xhr.status);
                        if(xhr.status == 200) {
                            if (xhr.responseText == "") {
                              location.href = "${reverse('dashboard')}";
                            }
                            else {
                              location.href = xhr.responseText;
                            }
                        } else if (xhr.status == 403) {
                          location.href = "${reverse('register_user')}?course_id=${course.id | u}&enrollment_action=enroll";
                        } else {
                            alert("${_("An error occurred. Please try again later.")}");
                        }
                    }
                });

        });
    %if settings.FEATURES.get('RESTRICT_ENROLL_BY_REG_METHOD') and course.enrollment_domain:
      <%
        perms_error = _('The currently logged-in user account does not have permission to enroll in this course. '
                        'You may need to {start_logout_tag}log out{end_tag} then try the register button again. '
                        'Please visit the {start_help_tag}help page{end_tag} for a possible solution.').format(
                          start_help_tag="<a href='{url}'>".format(url=marketing_link('FAQ')), end_tag='</a>',
                          start_logout_tag="<a href='{url}'>".format(url=reverse('logout'))
                          )
      %>
    $('#class_enroll_form').on('ajax:complete', function(event, xhr) {
       alert(1);
      if(xhr.status == 200) {
        location.href = "${reverse('dashboard')}";
      } else if (xhr.status == 403) {
        location.href = "${reverse('course-specific-register', args=[course.id.to_deprecated_string()])}?course_id=${course.id | u}&enrollment_action=enroll";
      } else if (xhr.status == 400) { //This means the user did not have permission
        $('#register_error').html("${perms_error}").css("display", "block");
      } else {
        $('#register_error').html(
            (xhr.responseText ? xhr.responseText : "${_("An error occurred. Please try again later.")}")
        ).css("display", "block");
      }
    });

    %else:
    <%doc>课程注册</%doc>
    $('#class_enroll_form').on('ajax:complete', function(event, xhr) {
        alert(2);
      if(xhr.status == 200) {
        if (xhr.responseText == "") {
          location.href = "${reverse('dashboard')}";
        }
        else {
          location.href = xhr.responseText;
        }
      } else if (xhr.status == 403) {
          location.href = "${reverse('register_user')}?course_id=${course.id | u}&enrollment_action=enroll";
      } else {
        $('#register_error').html(
            (xhr.responseText ? xhr.responseText : "${_("An error occurred. Please try again later.")}")
        ).css("display", "block");
      }
    });

    %endif
        })
            <%doc>function registerCourse() {
                </%doc><%doc>event.preventDefault();</%doc><%doc>
                alert("************");
                $.ajax({
                    type: "POST",
                    url: "${reverse('change_enrollment')}",
                    data: $("#class_enroll_form").serialize(),
                    success: function (data,textStatus) {
                        console.log(data);
                    },
                    error:function(data,textStatus){
                        alert(data);
                        console.log(data);
                        console.log(textStatus);
                    }
                });
            }</%doc>
        function stopDefault(e) {
    //阻止默认浏览器动作(W3C)
            if (e || e.preventDefault ){
                e.preventDefault();
            }else{
                window.event.returnValue = false;
            }
            return false;
    //IE中阻止函数器默认动作的方式
        }
    </script>
</head>
<body>
<!--页头布局-->
<div class="col_head_bg max-width">
    <div class="col_head">
        <h1><a href=""><img src="/static/images/nercel-images/col_logo.png" alt="logo" title="师大学堂"/></a></h1>

        <div class="col_nav" id="col_nav">
            <ul>
                <li><a href="/" id="col_shouye">首页</a></li>
                <li><a href="/go_to_school" id="col_xuexiao">学校</a></li>
                <li><a href="javascript:void(0);" id="col_weike" style="background-color: #d6d4d4" ;>微课程</a></li>
                <li><a href="javascript:void(0);" id="col_fenxi">学习分析</a></li>
            </ul>
        </div>
        <div class="col_search">
            <input type="text" id="col_search_input" placeholder="搜索你感兴趣的课程"/>
            <a id="col_search_btn"></a>
        </div>
        % if user.is_authenticated():
            <div class="col_mycourse_user">
                <img src="/static/images/nercel-images/mycourse_smalltouxiang.png"/>
                <a href="${reverse('dashboard')}" class="showName">${user.username}</a>

                <div id="col_mycourse_sanjiao"></div>
                <div id="col_drop_down">
                    <ul>
                        <li><a href="${reverse('learner_profile', kwargs={'username': user.username})}">我的课程</a></li>
                        <li><a href="${reverse('account_settings')}">账户设置</a></li>
                        <li><a href="${reverse('logout')}">退出</a></li>
                    </ul>
                </div>
            </div>
        % else:
            <div class="col_login">
                <!--登录前-->
                <ul class="pre_login">
                    <li><a href="">登录</a></li>
                    <li><a href="/register">注册</a></li>
                </ul>
            </div>
        % endif
    </div>
</div>
<!--课程简介-->
<div class="col_weike_banner max-width">
    <div class="col_weike_img"></div>
</div>
<div class="col_course_bg max-width">
    <div class="col_course_details">
        <div class="col_course_information">
            <div class="col_left fl" id="fengmian"></div>
            <div class="col_middle fl">
                <span>${get_course_about_section(course, "title")}</span>
                <ul class="col_middle_list">
                    <li>
                        <p><img src="/static/images/nercel-images/course_code.png"/></p>

                        <p class="middle_details_title">课程代码</p>

                        <p id="course_code">${course.display_number_with_default | h}</p>
                    </li>
                    <li>
                        <p><img src="/static/images/nercel-images/course_time.png"/></p>

                        <p class="middle_details_title">课程时长</p>

                        <p id="course_time">30分钟</p>
                    </li>
                    <li>

                        <p><img src="/static/images/nercel-images/course_opentime.png"/></p>

                        <p class="middle_details_title">开课时间</p>

                        <p id="course_opentime">${course.start_datetime_text()}
                            -${get_course_about_section(course, "end_date")}</p>

                    </li>
                    <li>

                        <p><img src="/static/images/nercel-images/course_population.png"/></p>

                        <p class="middle_details_title">报名人数</p>

                        <p>127</p>

                    </li>
                    <li>

                        <p><img src="/static/images/nercel-images/course_population.png"/></p>

                        <p class="middle_details_title">距开课天数</p>

                        <p>31</p>

                    </li>
                </ul>
            </div>
            <div class="col_right fr">
                <div id="teacher_img"></div>
                <ul class="teacher_information">
                    <li id="teacher_name">郑莉老师</li>
                    <li id="teacher_school">华师一附中</li>
                    <li id="teacher_position">数学特级教师</li>
                </ul>
                %if user.is_authenticated() and registered:
                    %if show_courseware_link:
                        <a href="${course_target}" id="join_course">
                            查看课程
                        </a>
                    %endif

                %elif is_course_full:
                    <a id="join_course" href="javascript:;">
                        课程已满
                    </a>
                % elif invitation_only and not can_enroll:
                    <a href="javascript:;">仅受邀学生注册</a>
                % elif not is_shib_course and not can_enroll:
                    <a class="register disabled">注册已关闭</a>
                %else:
                    <a href="javascript:;" id="join_course">
                        加入课程
                    </a>

                    <div id="register_error"></div>
                %endif
            </div>
        </div>
        %if active_reg_button or is_shib_course:
            <div style="display: none;">
                <form id="class_enroll_form" method="post" data-remote="true" action="${reverse('change_enrollment')}">
                    <fieldset class="enroll_fieldset">
                         <input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }">
                        <legend class="sr">${_("Enroll")}</legend>
                        <input name="course_id" type="hidden" value="${course.id | h}">
                        <input name="enrollment_action" type="hidden" value="enroll">
                    </fieldset>
                    <%doc><div class="submit">
                        <input  type="submit" value="${_('enroll')}">
                    </div></%doc>
                </form>
            </div>
        %endif
        <!--右下侧简介-->
        <div class="col_course_QA">
            ${get_course_about_section(course, "overview")}
        </div>
        <!--相关课程-->
        <div class="col_course_relativities">
            <div class="col_course_title">
                <img src="/static/images/nercel-images/course_xiangguankecgeng.png"/>

                <h2>相关课程</h2>
            </div>
            <div class="col_course_relativeslist">
                <ul>
                    <li>
                        <a href="javascript:void(0);" id="xiangguan_1">
                            <div class="col_course_img fl"></div>
                            <div class="col_course_text fr">
                                <span>有理数与无理数</span>
                                <span>郑莉老师</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" id="xiangguan_2">
                            <div class="col_course_img fl"></div>
                            <div class="col_course_text fr">
                                <span>有理数与无理数</span>
                                <span>郑莉老师</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" id="xiangguan_3">
                            <div class="col_course_img fl"></div>
                            <div class="col_course_text fr">
                                <span>有理数与无理数</span>
                                <span>郑莉老师</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" id="xiangguan_4">
                            <div class="col_course_img fl"></div>
                            <div class="col_course_text fr">
                                <span>有理数与无理数</span>
                                <span>郑莉老师</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" id="xiangguan_5">
                            <div class="col_course_img fl"></div>
                            <div class="col_course_text fr">
                                <span>有理数与无理数</span>
                                <span>郑莉老师</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--版权信息-->
<div class="col_copyright_bg max-width">
    <div class="col_copyright">
        <span> 版权所有 © 国家数字化学习工程技术研究中心</span>
        <img src="/static/images/nercel-images/openeDX_logo.png"/>
    </div>
</div>
<script>
    var grayEle = "";
    //页面加载完成之后执行，鼠标移动变色
    $(function () {
        $("#col_nav a").hover(
                function () {
                    $(this).addClass("selfColor");
                },
                function () {
                    $(this).removeClass("selfColor");
                });
    })

</script>
</body>
</html>
