<%
    from django.core.urlresolvers import reverse
%>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title></title>
    <link rel="icon" type="image/x-icon" href="/static/images/nercel-images/col_logo_cube.png">
    <link href="/static/css/nercel-css/col_head.css" rel="stylesheet"/>
    <link href="/static/css/nercel-css/col_index.css" rel="stylesheet"/>
    <link href="/static/css/nercel-css/col_bottom.css" rel="stylesheet"/>
    <link href="/static/css/nercel-css/col_copyright.css" rel="stylesheet"/>
    <link href="/static/css/nercel-css/col_mycourse.css" rel="stylesheet"/>
    <link href="/static/css/nercel-css/col_school.css" rel="stylesheet"/>
    <script src="/static/js/nercel-js/jquery-1.8.3.min.js" type="text/javascript"></script>
</head>
<body>
<!--页头布局-->
<div class="col_head_bg max-width">
    <div class="col_head">
        <h1><a href="/"><img src="/static/images/nercel-images/col_logo.png" alt="logo" title="师大学堂"/></a></h1>

        <div class="col_nav" id="col_nav">
            <ul>
                <li><a href="/" id="col_shouye">首页</a></li>
                <li><a href="javascript:;" id="col_xuexiao" style="background-color: #d6d4d4;">学校</a></li>
                <li><a href="javascript:void(0);" id="col_weike">微课程</a></li>
                <li><a href="http://122.204.161.231/mainView/navigate/newLogin.jsp" id="col_fenxi">学习分析</a></li>
            </ul>
        </div>
        <%doc><div class="col_search">
            <input type="text" id="col_search_input" placeholder="搜索你感兴趣的课程"/>
            <a id="col_search_btn"></a>
        </div></%doc>
        <div class="col_mycourse_login">
            % if user.is_authenticated():
                <div class="col_mycourse_user">
                    <%doc><img src="/static/images/nercel-images/mycourse_smalltouxiang.png"/></%doc>
                    <a href="${reverse('dashboard')}" class="showName">${user.username}</a>

                    <div id="col_mycourse_sanjiao"></div>
                    <div id="col_drop_down">
                        <ul>
                            <a href="${reverse('learner_profile', kwargs={'username': user.username})}">
                                <li>我的课程</li>
                            </a>
                            <a href="${reverse('account_settings')}">
                                <li>账户设置</li>
                            </a>
                            <a href="${reverse('logout')}">
                                <li>退出</li>
                            </a>
                        </ul>
                    </div>
                </div>
            % else:
                <div class="col_login">
                    <!--登录前-->
                    <ul class="pre_login">
                        <li><a href="javascript:;" onclick="showLoginBox();">登录</a></li>
                        <li><a href="/register">注册</a></li>
                    </ul>
                </div>
            % endif
        </div>
    </div>
</div>
<!--loginbox-->
<div class="theme-popover-mask"></div>
<div class="loginbox_bg">
    <div class="col_loginbox" id="loginbox">
        <div class="col_login_mainbody">
            <div class="col_login_head"></div>
            <form role="form" id="login-form" method="post" data-remote="true" novalidate class="login">
                <input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }">

                <div class="username">
                    <input id="email" type="email" name="email" placeholder="登录邮箱">
                </div>
                <div class="password">
                    <input id="password" type="password" name="password" placeholder="密码">
                </div>
                <div class="others">
                    <input class="remember_btn" id="remember-yes" type="checkbox" name="remember" checked="checked">
                    <label for="remember-yes">记住我</label>
                    <a class="fr" href="/register" class="g_modal_regbtn" data-click="onClick">现在注册</a>
                    <a class="fr" href="javascript:;" target="_blank" data-click="onClick">忘记密码？</a>
                </div>
                <button class="button" id="loginBtn" onclick="loginForm(event);">登录</button>
            </form>
            <div class="close_btn" id="login_close"></div>
        </div>
    </div>
</div>
<!--页中布局-->
<div class="col_body">
    <!--幻灯片切换-->
    <ul>
        <li>
            <div class="col_school" id="CCNU">
                <div class="col_school_text">
                    <span id="shool_title">国家数字化学习工程技术研究中心</span>
                    <span id="shool_slogan">“教育 科技 创新 未来”</span>
                    <a id="view_course" href="/"></a>
                </div>
            </div>
        </li>
    </ul>
</div>
<!--页尾布局-->
<div class="col_bottom_bg max-width">
    <div class="col_bottom">
        <span class="col_slogan"><img src="/static/images/nercel-images/slogan.png"/></span>

        <div class="col_information">
            <ul class="big_ul">
                <li class="big_li clean_left">
                    <ul class="small_ul">
                        <li>
                            <div class="col_yuan">
                                <a href="">
                                    <span class="col_span_1">关于我们</span>
                                    <span class="col_span_2">ABOUT US</span>
                                </a>
                            </div>
                        </li>
                        <li><a href="">关于我们</a></li>
                        <li><a href="">联系我们</a></li>
                        <li><a href="">招聘信息</a></li>
                        <li><a href="">常见问题</a></li>
                    </ul>
                </li>
                <li class="big_li">
                    <ul class="small_ul">
                        <li>
                            <div class="col_yuan">
                                <a href="">
                                    <span class="col_span_1">发现课程</span>
                                    <span class="col_span_2">DISCOVER</span>
                                </a>
                            </div>
                        </li>
                        <li><a href="">高中课程</a></li>
                        <li><a href="">初中课程</a></li>
                        <li><a href="">小学课程</a></li>
                        <li><a href="">更多</a></li>
                    </ul>
                </li>
                <li class="big_li">
                    <ul class="small_ul">
                        <li>
                            <div class="col_yuan">
                                <a href="">
                                    <span class="col_span_1">关注我们</span>
                                    <span class="col_span_2">FOLLOW US</span>
                                </a>
                            </div>
                        </li>
                        <li class="guanzhu">
                            <a href=""><img src="/static/images/nercel-images/weibo_logo.png"/></a>
                            <a href=""><img src="/static/images/nercel-images/weixin_logo.png"/></a>
                            <a href=""><img src="/static/images/nercel-images/message_logo.png"/></a>
                        </li>
                    </ul>
                </li>
                <li class="big_li">
                    <ul class="small_ul">
                        <li>
                            <div class="col_yuan">
                                <a href="">
                                    <span class="col_span_1">加入我们</span>
                                    <span class="col_span_2">JOIN US</span>
                                </a>
                            </div>
                        </li>
                        <li><a href="">产品开发</a></li>
                        <li><a href="">产品运营</a></li>
                        <li><a href="">资源制作</a></li>
                        <li><a href="">更多</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</div>
<!--版权信息-->
<div class="col_copyright_bg max-width">
    <div class="col_copyright">
        <span> 版权所有 © 国家数字化学习工程技术研究中心</span>
    </div>
</div>
<script>
    var grayEle = "";
    //	页面记载完成之后执行
    $(function () {
        $("#col_nav a").hover(
                function () {
                    $(this).addClass("selfColor");
                },
                function () {
                    $(this).removeClass("selfColor");
                });
        //下拉菜单的显示
        $("#col_mycourse_sanjiao").click(
                function (event) {
                    stopEvent(event);
                    $("#col_drop_down").show();
                });
        $(document).click(function (event) {
            stopEvent(event);
            $("#col_drop_down").hide();
        });
    });
    //下拉菜单的阴影
    $(function () {
        $("#col_drop_down li").hover(
                function () {
                    $(this).addClass("col_top_shadow");
                },
                function () {
                    $(this).removeClass("col_top_shadow");
                });
    })
    //最上面导航的阴影
    $(function () {
        $("#col_nav a").hover(
                function () {
                    $(this).addClass("selfColor");
                },
                function () {
                    $(this).removeClass("selfColor");
                });
        // 弹出登录框，使整个页面灰掉
        //关闭登录框
        $("#login_close").click(function () {
            $('.theme-popover-mask').hide();
            $(".loginbox_bg").slideUp(500);
        });
    })
    function stopEvent(ev) { //阻止冒泡事件
        //取消事件冒泡
        var e = arguments.callee.caller.arguments[0] || event; //若省略此句，下面的e改为event，IE运行可以，但是其他浏览器就不兼容
        if (e && e.stopPropagation) {
            // this code is for Mozilla and Opera
            e.stopPropagation();
        } else if (window.event) {
            // this code is for IE
            window.event.cancelBubble = true;
        }
    }
    //下面维登录的操作
    //呈現登錄狂
    function showLoginBox() {
        $('.theme-popover-mask').show();
        $('.theme-popover-mask').height($(document).height());
        $(".loginbox_bg").slideDown(500);
    }
    function toggleLoginButton(enable) {
        //获取id为submit的提交按钮
        var $loginButton = $('form #loginBtn');

        if (enable) {
            $loginButton.
                    removeClass('is-disabled').
                    attr('aria-disabled', false).
                    removeProp('disabled').
                    html("登录");
        }
        else {
            $loginButton.
                    addClass('is-disabled').
                    prop('disabled', true).
                    text("正在登录");
        }
    }
    function loginForm(event) {
        event.preventDefault();
        toggleLoginButton(false);
        $.ajax({
            url: "/login_ajax",
            data: $("#login-form").serialize(),
            type: "POST",
            error: function (data) {
                alert(data.value);
                alert(data);
            },
            success: function (data, textStatus) {
                var tf = data.success;
                var msg = data.value;
                if (tf) {
                    location.href = "${reverse('dashboard')}";
                } else {
                    toggleLoginButton(true);
                    alert(msg);
                }
            }
        });
    }
</script>
</body>
</html>
