.fr{
	float: right;
}
.fl{
	float: left;
}
.clear{
	clear: both;
}

/*中间图片布局*/
.col_mid{
	width: 100%;
    position: relative;
	background-color:#89b6b3;
}
.col_mid img{
	width:100%;
    display: block;
	margin:0 auto;
}
.img-btn {
    width: 280px;
    height: 20px;
    position: absolute;
    left: calc(50% - 140px);
    bottom: 10px;
}
.img-btn li{
    width: 20px;
    height: 20px;
    background: #cccccc;
    border-radius: 10px;
    overflow: hidden;
    float: left;
    margin-left: 40px;
    cursor: pointer;
}
/*登录框*/
.theme-popover-mask{
	z-index:5;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
    min-width:1350px;
	background:#000;
	opacity: 0.5;
	filter:alpha(opacity=50);
	display:none;}
.loginbox_bg{
	z-index:5;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
    min-width:1350px;
	display:none;
}
.col_loginbox{
	z-index: 9;	
	width: 502px;
	height: 404px;
	background-color: #FFFFFF;
    margin: 208px auto 0;

}
.col_login_mainbody{
	width: 502px;
	height: 404px;
	border-right:1px solid #a0a0a0 ;
	float: left;
}
.col_login_head{
	width: 502px;
	height: 102px;
	border-bottom: 1px solid #a0a0a0 ;
	background: url("../../images/nercel-images/login_background.png") no-repeat center;
}
.col_login_mainbody input[type="email"],
.col_login_mainbody input[type="password"]{
	width: 302px;
	height: 28px;
	border: 1px solid #aacac8;
    outline: none;
	text-align: center;
	line-height: 28px;
	color: #707276;
	font-size: 14px;
	margin-top: 42px;
	margin-left: 95px;
}
.others{
	width: 302px;
	height: 22px;
	line-height: 22px;
	font-size: 14px;
	margin:40px auto 0;
}
.others a{
	margin-left: 23px;
	color: #398b7f;
}
.button{
	outline: none;
	border: none;
	width: 305px;
	height: 46px;
	font-size: 20px;
	font-weight: bold;
	color: #ffffff;
	background: url("../../images/nercel-images/login_btn.png") no-repeat center;
	margin-top: 38px;
	margin-left: 95px;
}
.col_login_otherways{
	width: 226px;
	height: 404px;
	float: right;
	text-align: center;
}
.close_btn{
	width: 16px;
	height: 16px;
	background: url("../../images/nercel-images/login_close.png") no-repeat center;
	position: relative;
	top: -8px;
	left: 486px;
    cursor: pointer;
}
.col_login_otherways span{
	color:#707276 ;
	font-size: 16px;
	display: block;
	margin-top: 46px;
	margin-bottom: 7px;
}
.col_login_otherways li{
	width: 59px;
	height: 59px;
	margin: 26px auto 0;
}
/*忘记密码*/
.pwd_forget{
	z-index:5;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	display:none;
}
.col_forgetbox
{
	z-index:5;
	width: 732px;
	height: 404px;
	margin: 100px auto 0;
	background-color: white;
	font-size: 14px;
	font-family: "微软雅黑";

}
.pwd_forget_close
{
	cursor: pointer;
	width: 16px;
	height: 16px;
	top: 7px;
    z-index: 99999;
	margin-right: 14px;
	float: right;
	position: relative;
	background: url("../../images/nercel-images/col_pwd_forget_icon.png") no-repeat center;

}
.alert_reset_head
{
	width: 732px;
	height: 102px;
	background-color: #83b1ae;
	border-bottom: 1px solid #a0a0a0;
}
.alert_reset_head_title
{
	font-weight: normal;
	padding-top: 21px;
	padding-bottom: 14px;
	text-indent: 21px;
	color: white;
	font-size: 36px;
	line-height: 36px;
}
.alert_reset_head_p
{
	font-size: 16px;
	line-height: 16px;
	text-indent: 21px;
	color: #e6e9ea;
}
.alert_reset_main_title
{
	margin-top: 48px;
	margin-left: 180px;
	font-size: 14px;
	font-weight: bold;
}
.alert_reset_main_email
{
	width: 302px;
	margin: 22px auto 28px;
}
.alert_reset_main_email span{

}
.alert_reset_main header {
    height: 40px;
}
.alert_reset_main header p{
    align:center ;
    height: 40px;
    line-height: 40px;
    color: red;
}
.email_tag1{
	font-size: 14px;
	font-weight: bold;
	margin-top: 48px;
	margin-left: -80px;
	display: block;
}
.email_tag2{
	display: block;
	margin-top: 23px;
	font-size: 12px;
	color: #707276;
}
#pwd_reset_email
{
	width: 304px;
	height: 30px;
	border: 0;
	text-align: center;
	padding: 12px 0 0;
	line-height: 28px;
	color: #707276;
	margin: 10px auto 0;
	background: url("../../images/nercel-images/col_pwd_forget_input_bg.png") no-repeat center;
	background-repeat: no-repeat;
}
.alert_reset_main_exp
{
	margin-top: 23px;
	font-size: 12px;
	color: #707276;
}
#pwd_reset_button
{
	width: 304px;
	height: 46px;
	margin-top: 64px;
	font-size: 16px;
	border: none;
	color: white;
	background: url("../../images/nercel-images/col_pwd_forget_button1.png") no-repeat center;
}
/*
密码重置后显示的新样式。
*/
.pwd_forget .pwd_reset_success{
    display: none;
    position: relative;
	background-color: white;
	width: 732px;
	height: 404px;
	margin: 100px auto 0;
}
.pwd_reset_success .pwd_reset_success_h{
 	width: 732px;
	height: 102px;
	background-color: #83b1ae;
	border-bottom: 1px solid #a0a0a0;
}
.pwd_reset_success .pwd_reset_success_h_t{
	padding-top: 21px;
	padding-bottom: 14px;
	text-indent: 21px;
	color: white;
	font-size: 36px;
	font-weight: normal;
	line-height: 36px;
}
.pwd_reset_success .pwd_reset_success_m img{
    margin: 58px auto 30px 302px;
}
.pwd_reset_success .pwd_reset_success_exp{
    font-weight: bold;
	text-align: center;
	font-size: 14px;
}
/*中间课程部分样式*/
.col_container{
	background-color: #f4f4f4;
}
.col_content{
	width:1342px;
	margin:0 auto;
	padding-bottom: 154px;
}
.col_content_child{
	width:1342px;
	margin:0 auto;
	padding-top: 24px;
	padding-bottom: 40px;
}
/*对中间课程部分的表头部分的样式*/
.col_content_child_head{
	height:62px;
}

.col_content_child_head img{
	float:left;
	padding-left: 4px;
}
.col_span_text{
	margin-left:18px;
	font-size:30px;
	line-height: 62px;
	text-align: center;
	letter-spacing: 6px;
}
.col_more a{
	display:block;
	margin-top: 40px;
	float: right;
	font-size:14px;
	color:#7f8082;
	
}
.col_primary_text{
	color:#12912b;
}
.col_junior_text{
	color: #0e95e2;
}
.col_senior_text{
	color:#f28215;
}
.col_morecourse_text{
	color:#7f0508;
}
/*对中间课程部分的课程信息的样式*/
.col_content_child_body{
	width:1342px;
	overflow: hidden;	
}
.col_content_msg{
	width:308px;
	height: 350px;
	margin-right:25px;
	margin-top: 24px;
	float: left;
	background-color:#ffffff;
	border:1px solid #d5d5d7;
	position: relative;
}
.clear_right{
	margin-right:0;
}
/*课程图片的样式*/
.col_content_courseinfor{
	width:308px;
	height:196px;
	overflow: hidden;
}
.col_content_courseinfor img{
	max-width: 100%;
}
.course-href{}
.course-href:hover{
	color: #000000;
}
.course-href:active{
	outline: none;
}
/*代课教师的样式*/
.col_content_teacherinfor{
	width:302px;
	height:78px;
	padding-top:18px ;
	color:#535252;
}
.col_content_teachername{
	margin-left:10px;
}
.col_content_zhicheng{
	margin-left: 10px;
	margin-top: 2px;
    letter-spacing: 1px;
}

.col_content_msg_footer{
	width:300px;
	height:74px;
	position: absolute;
	left:10px;
	top:280px;
	z-index: 3;
}
.col_content_msg_footer img{
	float:left;
	margin-top:14px;
}
.col_content_msg_footer h3{
	color:#353535 ;
}
.col_content_msg_footer p{
	float: left;
	color:#535252;
	font-size: 12px;
	text-align:center;
	line-height: 18px;
	margin-top: 14px;
	margin-right:20px;
}
.col_content_msg_footer p a{
	
	color:#535252;
	
}
/**/
.col_mycourse_user {
    position: relative;
    float: right;
}

.col_mycourse_user img {
    float: left;
}

.col_mycourse_user .showName {
    display: block;
    float: left;
    margin-left: 10px;
    color: #398b7f;
    font-size: 16px;
    line-height: 64px;
    text-align: center;
}

#col_mycourse_sanjiao {
    width: 12px;
    height: 8px;
    float: left;
    margin-top: 28px;
    margin-left: 8px;
    background: url("../../images/nercel-images/mycourse_sanjiao.png") no-repeat center;
    cursor: pointer;
}

#col_drop_down {
    width: 150px;
    height: 128px;
    background: url("../../images/nercel-images/mycourse_dropdown.png") no-repeat center;
    position: absolute;
    top: 58px;
    left: 2px;
    display: none;
    z-index: 3;
}

#col_drop_down ul {
    width: 150px;
    height: 120px;
    padding: 8px 0 0 0;
}

#col_drop_down li {
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

#col_drop_down li a {
    font-size: 18px;
    color: #FFFFFF;
}

.col_top_shadow {
    background-color: #4faba0;
}
