* {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
img {
	border: none;
}
.clear {
	clear: both;
}
.max-width {
	width: 100%;
    min-width: 1350px;
	}
/*页头样式*/
.col_head_bg{
	height: 78px;
	border-top:6px solid #43b3ad;
	background-color: #f4f4f4;
}
.col_head{
	width: 1310px;
	height: 78px;
	margin: 0 auto;
}
.col_head h1{
	display: inline-block;
	width: 165px;
	height: 61px;
	float: left;
	margin-top:9px;
}
.col_nav {
	width: 528px;
	height: 78px;
	float: left;
	margin-left: 69px;
}
.col_nav ul li a{
	width: 118px;
	height: 78px;
	float: left;
	margin-left: 6px;	
	line-height: 78px;
	text-align: center;
	color: #248a85;
	font-family: "微软雅黑";
	font-size: 15px;
	font-weight: bold;	
}
.selfColor{
	background-color: #e5e3e3;
}
.col_search{
	width: 275px;
	height: 26px;
	border: 1px solid #cccccc;
	float:left;
	margin:25px 0 25px 70px;
	position: relative;
	}
#col_search_input{
	border:none;
	width: 248px;
	height: 26px;
	border-right:1px solid #CCCCCC;
	position: absolute;
	outline: none;
}
#col_search_btn{
	width: 26px;
	height: 26px;
	float: right;
	background:url("../../images/nercel-images/col_search_icon.png") no-repeat center;
}

/*登录注册按钮*/
.col_login{
	width: 148px;
	height: 78px;
	float:right;
	margin-left:40px;
}
.pre_login li{
    float: left;
}
.pre_login li a{
	width:74px;
	height: 78px;
	display:inline-block;
	line-height: 78px;
	text-align: center;
	color: #248a85;
	font-family: "微软雅黑";
	font-size: 15px;
	font-weight: bold;	
}
/*右侧账户信息*/
.col_mycourse_login {
    width: 216px;
    height: 64px;
    padding: 14px 0 0 64px;
    float: right;
}
.col_mycourse_user {
    position: relative;
    float: left;
    margin-left: 34px;
}

.col_mycourse_user img {
    float: left;
}

.col_mycourse_user .showName {
    display: block;
    float: left;
    margin-left: 10px;
    color: #398b7f;
    font-size: 16px;
    line-height: 64px;
    text-align: center;
}

#col_mycourse_sanjiao {
    width: 12px;
    height: 8px;
    float: left;
    margin-top: 28px;
    margin-left: 8px;
    background: url("../../images/nercel-images/mycourse_sanjiao.png") no-repeat center;
    cursor: pointer;
}

#col_drop_down {
    width: 150px;
    height: 128px;
    background: url("../../images/nercel-images/mycourse_dropdown.png") no-repeat center;
    position: absolute;
    top: 58px;
    left: -38px;
    display: none;
    z-index: 3;
}

#col_drop_down ul {
    width: 150px;
    height: 120px;
    padding: 8px 0 0 0;
}

#col_drop_down li {
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
}

#col_drop_down li a {
    font-size: 18px;
    color: #FFFFFF;
}

.col_top_shadow {
    background-color: #4faba0;
}

