* {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    border: none;
}

.clear {
    clear: both;
}

.max-width {
    width: 100%;
}

.col_school {
    width: 100%;
    height: 768px;
    overflow: hidden;
    background: url("../../images/nercel-images/col_shool_bg.png") no-repeat center;
    margin: 0 auto;
}

.col_school_text {
    width: 288px;
    height: 256px;
    margin: 256px auto 0;
    text-align: center;
}

#shool_title {
    font-size: 40px;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 2px 5px 5px black;
    display: block;
}

#shool_slogan {
    font-size: 25px;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 2px 5px 5px black;
    display: block;
    margin-top: 64px;
}

#view_course {
    display: block;
    width: 236px;
    height: 50px;
    background: url("../../images/nercel-images/col_view_course_icon.png") no-repeat center;
    margin: 68px auto 0;
}
/*登录之后的显示信息*/
.col_mycourse_user {
    position: relative;
    float: left;
    margin-left: 34px;
}

.col_mycourse_user img {
    float: left;
}

.col_mycourse_user .showName {
    display: block;
    float: left;
    margin-left: 10px;
    color: #398b7f;
    font-size: 16px;
    line-height: 64px;
    text-align: center;
}

#col_mycourse_sanjiao {
    width: 12px;
    height: 8px;
    float: left;
    margin-top: 28px;
    margin-left: 8px;
    background: url("../../images/nercel-images/mycourse_sanjiao.png") no-repeat center;
    cursor: pointer;
}

#col_drop_down {
    width: 150px;
    height: 128px;
    background: url("../../images/nercel-images/mycourse_dropdown.png") no-repeat center;
    position: absolute;
    top: 58px;
    left: 2px;
    display: none;
}

#col_drop_down ul {
    width: 150px;
    height: 120px;
    padding: 8px 0 0 0;
}

#col_drop_down li {
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

#col_drop_down li a {
    font-size: 18px;
    color: #FFFFFF;
}

.col_top_shadow {
    background-color: #4faba0;
}